<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="app">
    name:[[name]]
    <el-button @click="toggleSelection">{{ name }}爱的按钮</el-button>
</div>
</body>
<script src="../../../static-vue/lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static-vue/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static-vue/lib/element2.13.0/lib-master/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static-vue/lib/layer/layer.js"></script>
    <script src="../../../static-vue/lib/axios/dist/axios.js"></script>
<script src="../../../static-vue/test.js"></script>
</html>