<!DOCTYPE html>
<html>
<head>

    <frame-options policy="SAMEORIGIN" />
    <meta charset="utf-8">
    <title>活动列表</title>
    <link rel="stylesheet" href="../../../static/index.css"/>
    <link rel="stylesheet" href="../../css/mqpages.css"/>
    <script src="../../js/mqpages.js"></script>
    <script src="../../../static/lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static/lib/element2.13.0/lib-master/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../static/lib/layer/layer.js"></script>
    <script src="../../../static/lib/axios/dist/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.1/index.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.1/theme-chalk/index.min.css"  rel="stylesheet">



</head>
<body>

<div id="app">
    <div v-show="show">
        <template>

            <el-table
                    :data="tableActivity"
                    :cell-style="cellStyle"
                    :row-class-name="tableRowClassName"
                    style="width: 100%"
                    :cell-style="cellStyle"
            >
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <el-form-item label="活动名称">
                                <span>[[ props.row.activity_name ]]</span>
                            </el-form-item>
                            <el-form-item label="活动海报:">
                                <span>
                                    <el-image
                                            style="width: 100px; height: 100px"
                                            :src="props.row.img_url"
                                            :fit="cover"></el-image>

                                </span>
                            </el-form-item>
                            <el-form-item label="活动时间:">
                                <span>[[ props.row.activity_time ]]</span>
                            </el-form-item>
                            <el-form-item label="活动地址:">
                                <span>[[ props.row.activity_area ]]</span>
                            </el-form-item>
                            <el-form-item label="活动类型:">
                                <span>[[ props.row.activity_type ]]</span>
                            </el-form-item>

                            <el-form-item label="活动状态:">
                                <span>[[ props.row.activity_status ]]</span>
                            </el-form-item>
                            <el-form-item label="活动人数:">
                                <span>[[ props.row.activity_users_number ]]</span>
                            </el-form-item>
                            <el-form-item label="活动奖励:">
                                <span>[[props.row.activity_prize ]]</span>
                            </el-form-item>
                            <el-form-item label="活动规则:">
                                <span>[[ props.row.activity_rule ]]</span>
                            </el-form-item>
                            <el-form-item label="活动描述:">
                                <span>[[ props.row.activity_description ]]</span>
                            </el-form-item>
                            <el-form-item label="活动形式:">
                                <span>[[ props.row.activity_form ]]</span>
                            </el-form-item>

                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="activity_name"
                        label="活动名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="activity_time"
                        label="日期"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="activity_area"
                        label="地址"
                        width="180">
                </el-table-column>

                <el-table-column
                        prop="activity_type"
                        sortable
                        label="活动类型"
                        width="180">
                </el-table-column>

                <el-table-column
                        prop="activity_status"
                        sortable
                        label="状态"
                        width="180">
                </el-table-column>
                <el-table-column  label="活动参与情况">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="get_activity_user(scope.$index, scope.row)">查看</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>

            </el-table>
            <div class="block">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="1"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="10"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="tableActivity.length">
                </el-pagination>
            </div>

        </template>
    </div>

    <div style="float:left;position: absolute;top: 50px;left: 50px;z-index: 999">
        <el-card v-show="cardShow" class="box-card">
            <div slot="header" class="clearfix">
                <span>参与活动的用户信息</span>
                <el-button style="float: right; padding: 3px 0" @click="hidden" type="text">关闭</el-button>
            </div>
            <div v-for="o in 1" :key="o" class="text item">

                <iframe :src="user_activity_url" frameborder="0" scrolling="yes" width="1000px" height="500"
                >
                </iframe>
            </div>
        </el-card>
    </div>
</div>

</body>

<script src="../../../static/index.js"></script>
</html>
